name: Deploy Static Web App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Build And Deploy to Azure
      id: deploy-to-azure
      uses: azure/static-web-apps-deploy@v1 
      with:
        
        azure_static_web_apps_api_token: ${{ secrets.SWA_TOKEN }} 
        
        repo_token: ${{ secrets.GITHUB_TOKEN }} 
        action: "upload"
        app_location: "/" 
        output_location: "."
        skip_app_build: true
